.project-thumb {
    position: relative;
    width: 100%;
}

.project-thumb img {
    width: 100%;
    height: auto;
    display: block;
}

.project-title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: left;
}

.project-image-container {
    text-align: center;
    background-color: var(--background-color);
    
}
.project-image-container img {
    border-radius: 5px;
}
.project-languages-overlay p{
    width: fit-content;
    color: var(--text-color);
    font-weight: 600;
}
.project-languages-overlay {
    color: var(--text-color);
    background-color:var(--background-color);
    padding: 10px 20px;
    text-align: start;
    cursor: default;
    margin: 0;
}
.project-languages-overlay:hover {
    opacity: 90%;
}
.badge{
    background-color: black;
}
.img-thumbnail {
    width: 20%; /* Defina a largura desejada para as miniaturas */
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
    padding: 0;
}


.img-thumbnail.selected {
    border: 2px solid var(--first-color);
}

.selected.project-thumb {
    border: 2px solid var(--first-color);
}

.btn-projeto{
    background: linear-gradient(90deg,var(--first-color) 0%, #d7f3e0 100%);
}