:root {
    --header-height: 3rem;

    /* Colors */
    /* Primary color */

    /* Color mode */
    --first-color: #574219;
    --second-color: #7a5e24 ;
    --darker-color: #3c096c;
    --title-color: #574219;

    /* #ba181b;
    #e5383b; */
    --text-color: #574219;
    --white-color:white;
    /* rgb(48, 59, 59); */

    /* BACKGROUND */
        --background-color: #ebd9b1;
        /* rgba(170, 190, 255, 0.178); */
        --background-color-second: var(--background-color);
    /* 
        
    --first-color:#3B5249;
    --second-color:#519872;
    --darker-color:#BBD1EA;
    --title-color:#white;

    --text-color:#BEC5AD;
    /* rgb(48, 59, 59); 
    --background-color: rgb(22, 17, 17);
         rgba(170, 190, 255, 0.178); 
        --background-color-second: #black;
    */
    
     --container-color: #FFF;
    --font-family: 'Poppins', sans-serif;

    /* font-family: 'Bebas Neue', cursive;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif; */

    --border-radius: 10px;

    --big-font-size: 2rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.55rem;
    --h3-font-size: 1.525rem;
    --normal-font-size: 1.438rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

/*================= BASE =================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--second-color);
    font-size: 1.5rem;
    
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--font-family);
    font-size: var(--normal-font-size);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--first-color);
    /*var(--first-color); */
    font-weight: var(--font-medium);
}

h1 {
    font-size: var(--h1-font-size);

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    
}

img {
    max-width: 100%;
    height: auto;
}
/* <!--======================== CORES ========================--> */

.text {
    color: var(--text-color)
}
.secondcolor {
    color: var(--second-color)
}

.textcolor {
    color: var(--text-color)
}
.black{
    color:black;
}
/* <!--======================== CORES ========================--> */


.navbar {

    position: fixed;
    top: 5%;
    right: 5%;
}

.border {
    border-radius: var(--border-radius);
}

.capital {
    font-size: var(--big-font-size)
}


.nav {
    max-width: 968px;
    height: var(--header-height);
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    place-items: center;
    margin-top: 5%;

}

.row {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.botao {
    color: white;
    border-radius: 10px;
    border: 1px solid var(--second-color);
    padding: 10px;
    background-color: var(--second-color);
    
}

.botao:hover {
    color: var(--white-color);
    border-color: var(--text-color);
    background-color: var(--first-color);
    cursor: default;
}

.botaocontact {
    color: white;
    border-radius: 10px;
    border: 1px solid var(--second-color);
    padding: 10px;
    background-color: var(--second-color);
    
}
.botaocontact:hover {
    color: var(--white-color);
    border-color: var(--text-color);
    background-color: var(--first-color);
    cursor: default;
}
.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.box {
    display: flex;
    align-items: center;
}

.vitrine {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 50%;
}

.top {
    margin-top: 3%;
}

.project {
    width: 30%;
}

.wide {
    width: 100%
}

.mid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.midlaid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainback {
    background-color: var(--background-color-second);
}

/* Centralizador de div */
.canto {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Fonte negrito */
.bold {
    font-weight: bold;
}

/* Cursor default */
.cursor {
    cursor: default;
}

/* Círculo */
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
}

.type1 {
    width: 50px;
    height: 50px;
}

/* cor do texto */


.botaotop {
    position: fixed;
    bottom: 5%;
    right: 5%;
}