:root {
    --first-color: hsl(0, 85%, 46%);
    --first-color-ligther: hsla(0, 85%, 46%, 0.226);
    --second-color: hsl(285, 85%, 46%);
    --gray-color: hsl(240, 0%, 50%);
    --text-family: 'Roboto', sans-serif;
    --text-color: black;
    --background-color: ;

    --project-card-width: 90vw;

    --margin-experience-card-data: 1rem;
}

* {
    background-color: var(--background-color);

}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

i {
    font-size: 2rem;
}

body {
    max-width: 100vw;
}

section {
    min-height: 100vh;

}

/* letter spacing */
h1 {
    letter-spacing: -1.5px;
}

p {
    letter-spacing: -1px;
}

h2 {
    letter-spacing: -1.3px;
}

main {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    font-family: var(--text-family);
    height: auto;
    max-width: 100vw;
}

/* global */
.color-white {
    color: white;
    font-size: 70px;
    text-align: center;
}

.global-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first-color {
    color: var(--first-color);
}

.global-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*  */
* {
    font-family: 'Poppins', sans-serif;
}

svg {
    position: absolute;
    top: 5%;
    width: 90vw;

    cursor: default;
}

h1,
p,
h2,
h3,
h4 {
    cursor: default;
}

/* Home */
.orientation {
    display: none;
    position: fixed;
    left: 1%;
    top: 15%;
}

.contato {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    z-index: 10;
    max-height: 16px;
    gap: 16px;
    transition: 0.2s ease-in;
}

.contato a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in;
}

.contato a:hover {
    font-size: 2.2rem;
    mix-blend-mode: difference;
    color: var(--first-color);
}

.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.corvo {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#home {
    position: relative;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
}

#home .container {
    position: absolute;
    top: 40%;
    left: 20%;
    color: white;
    font-weight: 700;
    max-width: 40vw;
}

#home .container h2 {
    font-weight: 900;
    color: var(--first-color);
    margin: 0;
    font-size: 40px;
}

#home .container h1 {
    font-size: 40px;
    letter-spacing: -1.5px;
    margin: 0;
    font-weight: 700;
    color: white;
}

.section-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/foto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.home-menu {
    position: absolute;
    top: 5%;
    z-index: 10;
}

.home-menu a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 16px;
    transition: 0.2s ease-in;

}

.home-menu a:hover {
    text-decoration: none;
    color: var(--first-color);
    font-size: 21px;
    padding: 16px;
}

.idade {
    position: fixed !important;
    top: 15%;
    right: 5%;
    color: white;
    mix-blend-mode: difference !important;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
   
}

.idade h2 {
    margin: 0;
}

/*  */
/* About */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about .container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 15vw;
    text-align: center;
    height: 20rem;

    border-bottom: 2px solid var(--first-color);
}

.about-card:hover {

    background-color: #212729;
    animation: animacao-cima-para-baixo 0.3s ease-in-out;

    .icon {
        background-color: white;
        color: var(--first-color);
    }

    .header {
        color: white;
    }

    .data {
        color: white;

    }
}

@keyframes animacao-cima-para-baixo {

    0%,
    100% {
        transform: translateY(0);
        /* Início e fim da animação: nenhuma translação vertical */
    }

    50% {
        transform: translateY(5px);
        /* Metade da animação: move para baixo 50px */
    }
}

.about-card .icon {
    padding: 20px;
    color: white;
    background-color: var(--first-color);
    border-radius: 50%;
    margin-bottom: 5px;
}

.about-card .header {
    font-weight: 700;
    margin-bottom: 10px;
}

.about-card .data {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

#about .mainheader {
    align-self: center;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    letter-spacing: -1px;
    font-weight: 800;
    margin-bottom: 16px;
}

#about .subheader {
    line-height: 1.5;
    text-align: center;
    width: 34vw;
    word-wrap: break-word;
}

#about .subheader {
    font-size: 18px;
}




/*  */
/* projects */
#projects {
    position: relative;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 1) 100%);
}

.headerprojetos {
    align-self: center;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 800;
    margin: 16px;
    color: white;
}

#projects .section-img-projects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/eu2.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: black;
}

.projects-container {
    flex: 0 1 20vw;
    margin: 5px;
    box-shadow: 2px 2px 2px 1.5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: .75rem;
    text-align: start;
    max-width: 100vw;
    background-color: white;
}

.projects-container img {
    width: 25vw;
    border-radius: 1rem;
    margin-top: 1vh;
}

.projects-button-container {
    margin: .7rem 0;

}

.projects-container p {
    font-size: 19px;
    font-weight: 600;
}

.projects-container i {
    font-size: 24px;
}

.projects-button-container i {
    font-size: 16px;

}

.projects-button-container a {
    background-color: var(--first-color);
    font-size: 16px;
    color: white;
    padding: .75rem;
    text-decoration: none;
    border-radius: .5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)
}

.projects-button-container a:hover {
    background-color: white;
    color: var(--first-color);
    border: 1px solid var(--first-color);
}

.projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90vw;
}

.projects-container h1 {
    font-size: 24px;
    font-weight: 800;
    margin: 1rem 0;
}

/* Certificados */
#certificados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 32px 0;
    gap: 32px;

}

.certificados-card {
    display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        max-width: 15vw;
        text-align: center;
        
        padding-bottom: 20px;
        border-bottom: 2px solid var(--first-color);
}

.overlay a{
    font-size: 20px;
    color: var(--first-color);
    text-decoration: none;
    border: none;
}
.overlay a:hover{
    font-size: 26px;
    
}
.certificados-card:hover{
    .overlay {
            visibility: visible;
        }
}
.certificados-card .icon {
    padding: 20px;
    color: var(--first-color);
    margin-bottom: 5px;
}

.certificados-card .header {
    font-weight: 700;
    margin-bottom: 10px;
}

.certificados-card .data {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

/*  */

@media (max-width:475px) {}

@media (max-width:640px) {
    .global-center-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .corvo{
        display: none;
    }
}

@media (max-width:1024px) {
    .idade {
        position: absolute !important;
        top: 5%;
        right: 2%;
        gap: 16px;
        
    }

    .idade h2 {
        margin: 0px;
    }

    .orientation {
        display: block;
        top: initial;
        bottom: 0 !important;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 10;
        gap: 20px;
        width: 100vw;
        background-color: white;
    }

    .orientation a {
        text-decoration: none;
        color: black
    }

    .home-menu {
        display: none;
    }

    #home .container {
        left: 5%;
        top: 30%;
    }

    #home .container h2 {
        font-size: 30px;
    }

    section {
        min-height: 100vh;
        height: auto;
    }

    .projects-container img {
        width: 80vw;
    }


    #about .container {
        flex-direction: column;
        gap: 16px;
        width: 90vw;
    }

    .about-card {
        max-width: 100%;
    }

    #about .subheader {
        line-height: 1.5;
        text-align: center;
        width: 90vw;
        word-wrap: break-word;
    }

    .experience-container {
        flex: 0 1 80vw;
    }
}

@media (min-width:1024px) {}

@media (max-width:1280px) {}

@media (max-width:1536px) {
    svg {
        width: 100vw;

    }
}

@media (max-width:1920px) {}