.foto {
  width: 60%;
  pointer-events: none;
  border-radius: 50%;
}
p, a{
  font-size: 18px;
}
a i, a p{
  margin:0;
  transition: transform 2s ease;
}
.gap-16{
  gap:16px;
}
p{
  cursor: pointer;
}
.span-dev {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 70px;
  margin: 0;
  line-height: 40px;
  cursor: default;
}
.corvo-container {
  position: relative;

}
.corvo {
  max-width: 100%; 
}
.corvo-container a {
  position: absolute;
  color: var(--text-color); 
  font-size: 24px; 
  text-decoration: none;
}
