a{
    text-decoration: none;
    color: var(--gray);
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    font-family: poppins;
    font-weight: 500;
}
a:hover{
    font-weight: 600;
    color: white;
}


  @media (max-width: 768px) {
    .gabriel{
      position: fixed;
      top: 0;
      padding: 5px;
      background-color: var(--principal-hover);
      opacity: 90%;
      width: 100vw;
      font-size: 20px;
    }
    .navbar{
      position: fixed;
      bottom:0;
      
      display: flex;
      justify-content: center;
      gap: 0px !important;

    }
    a{
      font-size: 10px;
    }
  }