:root{
  --principal:#080E1C;
  --principal-hover:#1d283a;
  --texto:white;
  --principal-escura:#030711;
  --white:white;
  --gray:#a8b0b9;
  --background-color:#080E1C;
 
 
}
.dark-theme{
  --text-color:#180136;
  --not-text-color:white  ;
  --light-first-color:#fb257727;
  --background-color:#fffffe;
  --first-color: #FB2576;
  --cor-botao:#3F0071;
  --gray-color:rgb(54, 54, 54);
}

body{
  color:var(--texto);
  background: rgb(90,90,90);
  background: linear-gradient(180deg, rgb(51, 51, 51) 0%, rgba(4,9,19,1) 0%);
  font-family: "Inter", sans-serif;
}
.botao-branco{
  color: black;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px 20px;
}
.botao-branco:hover{
  color: black;
}
a{
  transition: transform 0.3s ease;
}
a:hover{
  transform: scale(1.05);
}
.botao-principal{
  color: var(--white);
  background-color: var(--principal);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.103);
}
.botao-principal:hover{
  color: white;
  background-color: var(--principal-hover);
}


.color-gray{
  color: var(--gray);
}
.color-text{
  color: var(--texto);
}

.back-first{
  background-color: var(--principal);
}

.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
/* Tamanho da seção ocupa tela toda */
.vh100{
  height:100vh;
}
.vh80{
  height:80vh;
}
.sublinhado{
  text-decoration: underline;
}
.caixa{
  border: .1px solid rgb(131, 131, 131);
  border-radius: .75rem;
}

.poppins-100{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-200 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-800 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-900 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.padding-vertical{
  padding: 50px 0;
}

.zain-extralight {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.zain-light-italic {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.zain-regular-italic {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: italic;
}
