:root{
  --text-color:#21040C;
  --not-text-color:white;
  --light-first-color:#E8DEC8;
  --background-color:#ffffff;
  --first-color: #4B1313;
  --secondary:#8D6D4C;
  --cor-botao:#3C2A21;
  --gray-color:rgb(54, 54, 54);
  --light-gray:#f6eee1;
 
  /* --text-color:#c0c4cd;
  --not-text-color:black;
  --background-color:#05030b;
  --light-first-color:#25c9fb38;
  --gray-color:rgb(141, 141, 141);
  --first-color: #28b9eb;
  --cor-botao:#28baeb7c; */
}
.dark-theme{
  --text-color:#180136;
  --not-text-color:white  ;
  --light-first-color:#fb257727;
  --background-color:#fffffe;
  --first-color: #FB2576;
  --cor-botao:#3F0071;
  --gray-color:rgb(54, 54, 54);


  /* --text-color:white;
  --not-text-color:black;
  --background-color:#000000;
  --light-first-color:#fb257738;
  --gray-color:rgb(141, 141, 141);
  --first-color: #FB2576;
  --cor-botao:#3F0071; */
}

body{
  color:var(--text-color);
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}
.color-first{
  color: var(--first-color);
}
.color-second{
  color: var(--secondary);
}
.color-button{
  color: var(--cor-botao);
}
.color-first:hover{
  color: var(--cor-botao);
}
.color-not{
  color: var(--not-text-color);
}
.color-gray{
  color: var(--gray-color);
}
.color-text{
  color: var(--text-color);
}
.light-gray{
  color: var(--light-gray);
}
.back-first{
  background-color: var(--first-color);
}
.back-second{
  background-color: var(--second);
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
/* Tamanho da seção ocupa tela toda */
.vh100{
  height:100vh;
}
.vh80{
  height:80vh;
}
.sublinhado{
  text-decoration: underline;
}
.caixa{
  border: .1px solid rgb(131, 131, 131);
  border-radius: .75rem;
}

.poppins-100{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-200 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-800 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-900 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.padding-vertical{
  padding: 50px 0;
}